<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>書籍一覧</title>

  <style>
    body {
      margin: 0;
    }

    .container {
      max-width: 960px;
      margin: 24px auto;
      padding: 0 16px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      background: #f3f4f6;
    }

    th,
    td {
      padding: 8px 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
  </style>
</head>

<body>
<div class="container">
  <h2>書籍一覧</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>著者</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="b : ${books}">
      <td th:text="${b.id}">1</td>

      <td>
        <a th:href="@{/path-variable/books/{id}(id=${b.id})}"
           th:text="${b.title}">
          スッキリSpring
        </a>
      </td>

      <td th:text="${b.author}">Ito</td>

      <td>
        <a th:href="@{/path-variable/books/{id}(id=${b.id})}">詳細</a>
      </td>
    </tr>

    <!-- books が空のとき -->
    <tr th:if="${#lists.isEmpty(books)}">
      <td colspan="4">書籍がありません。</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>